<!DOCTYPE html>
<html>
  <head>
    <title> <%= I18n.t 'page_title' %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "jquery_ujs" %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="container h-100">

      <header>
        <%= render 'shared/buttons' %>
        <%= render 'shared/device_warnings' %>
      </header>

      <div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
    </div>  
    
  </body>
</html>
